@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: $main-font;
  font-size: 12px;
  color: $primary-text-color;

  background-color: $primary-white-color;

  &.menu-open {
    overflow: hidden;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
