$main-font: 'DM Sans', sans-serif;
$logo-font: 'Titan One', sans-serif;
$primary-text-color: #907e82;
$accent-color: #d41443;
$primary-white-color: #ffffff;
$primary-black-color: #000000;
$pretitle-color: #ffa5ba;
$secondary-bg-color: #fff5f6;
$hero-bg-color: #ffb8ca;
$menu-bg-color: #e17992;
$primary-btn-hover-color: #c7133e;
$secondary-btn-hover-color: #ecebeb;
$light-yellow-color: #f0d1a5;
$light-green-color: #c2e297;
$snow-white-color: #fafafa;
$border-color: #e1e1e1;
$social-networks-color: #fea5bb;
$light-gray-color: #d9d9d9;
$dark-red-color: #d31342;
$box-shadow-color: 0 8px 30px 0 rgba(212, 20, 67, 0.1);
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
