<section>
  <p>Tradition and love</p>
  <h2>How it’s made?</h2>

  <!-- Cow with glass jug of milk -->
  <picture>
    <source
      srcset="./images/cow/cow.webp 1x, ./images/cow/cow@2x.webp 2x"
      media="(min-width: 1110px)"
      type="image/webp"
    />
    <source
      srcset="./images/cow/cow.png 1x, ./images/cow/cow@2x.png 2x"
      media="(min-width: 1110px)"
    />

    <source
      srcset="./images/cow/cow-tab.webp 1x, ./images/cow/cow-tab@2x.webp 2x"
      media="(min-width: 768px)"
      type="image/webp"
    />
    <source
      srcset="./images/cow/cow-tab.png 1x, ./images/cow/cow-tab@2x.png 2x"
      media="(min-width: 768px)"
    />

    <source
      srcset="./images/cow/cow-mob.webp 1x, ./images/cow/cow-mob@2x.webp 2x"
      media="(max-width: 767px)"
      type="image/webp"
    />
    <source
      srcset="./images/cow/cow-mob.png 1x, ./images/cow/cow-mob@2x.png 2x"
      media="(max-width: 767px)"
    />

    <img src="./images/cow/cow-mob.png" alt="Cow with glass jug of milk" />
  </picture>

  <p>
    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
    cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo
    fringilla.
  </p>
  <p>
    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
    Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit
    ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
  </p>
  <p>Aliquam erat volutpat. Aenean accumsan.</p>

  <!-- Button to continue reading -->
  <button type="button">
    Read more
    <svg width="8" height="10">
      <use href="./images/icons.svg#angle-right"></use>
    </svg>
  </button>
</section>
