<section>
  <h2>Advantages</h2>

  <ul>
    <li>
      <svg width="33" height="50">
        <use href="./images/icons.svg#advantage-1"></use>
      </svg>
      <span>721</span>
      <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li>
      <svg width="50" height="50">
        <use href="./images/icons.svg#advantage-2"></use>
      </svg>
      <span>16kg</span>
      <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li>
      <svg width="44" height="50">
        <use href="./images/icons.svg#advantage-3"></use>
      </svg>
      <span>84</span>
      <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
  </ul>
</section>
