<section class="advantages">
  <div class="container advantages__container">
    <h2 class="visually-hidden">Advantages</h2>

    <ul class="advantages__list">
      <li class="advantages__item">
        <svg class="advantages__icon" width="33" height="50">
          <use href="./images/icons.svg#advantage-1"></use>
        </svg>
        <span class="advantages__number">721</span>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <svg class="advantages__icon" width="50" height="50">
          <use href="./images/icons.svg#advantage-2"></use>
        </svg>
        <span class="advantages__number">16kg</span>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <svg class="advantages__icon" width="44" height="50">
          <use href="./images/icons.svg#advantage-3"></use>
        </svg>
        <span class="advantages__number">84</span>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
