<section>
  <h2>Contacts</h2>

  <ul>
    <li>
      <span>Cafe</span>
      <h3>Chicago</h3>
      <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

      <!-- Working days and times -->
      <dl>
        <dt>Monday - Friday</dt>
        <dd><time datetime="Mo-Fr 06:00-22:00">06:00 AM - 10:00 PM</time></dd>
        <dt>Saturday - Sunday</dt>
        <dd><time datetime="Sa-Su 08:00-16:00">08:00 AM - 16:00 PM</time></dd>
      </dl>

      <!-- Phone and email -->
      <ul>
        <li><a href="tel:+610383766284">+61(0) 383 766 284</a></li>
        <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
      </ul>
    </li>
    <li>
      <span>Foodtruck</span>
      <h3>Los Angeles</h3>
      <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

      <!-- Working days and times -->
      <dl>
        <dt>Monday - Friday</dt>
        <dd><time datetime="Mo-Fr 06:00-22:00">06:00 AM - 10:00 PM</time></dd>
        <dt>Saturday - Sunday</dt>
        <dd><time datetime="Sa-Su 08:00-16:00">08:00 AM - 16:00 PM</time></dd>
      </dl>

      <!-- Phone and email -->
      <ul>
        <li><a href="tel:+610383766284">+61(0) 383 766 284</a></li>
        <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
      </ul>
    </li>
    <li>
      <span>Cafe</span>
      <h3>New York</h3>
      <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

      <!-- Working days and times -->
      <dl>
        <dt>Monday - Friday</dt>
        <dd><time datetime="Mo-Fr 06:00-22:00">06:00 AM - 10:00 PM</time></dd>
        <dt>Saturday - Sunday</dt>
        <dd><time datetime="Sa-Su 08:00-16:00">08:00 AM - 16:00 PM</time></dd>
      </dl>

      <!-- Phone and email -->
      <ul>
        <li><a href="tel:+610383766284">+61(0) 383 766 284</a></li>
        <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>
      <button type="button">
        Our Locations
        <svg width="5" height="8">
          <use href="./images/icons.svg#angle-right"></use>
        </svg>
      </button>
    </li>
    <li>
      <button type="button">
        Franchise
        <svg width="5" height="8">
          <use href="./images/icons.svg#angle-right"></use>
        </svg>
      </button>
    </li>
  </ul>
</section>
