<section class="contacts">
  <div class="container contacts__container">
    <h2 class="visually-hidden">Contacts</h2>

    <ul class="contacts-cards">
      <li class="contacts-cards__item">
        <span class="contacts-cards__label contacts-cards__label--yellow">
          Cafe
        </span>
        <div class="contacts-cards__top">
          <h3 class="contacts-cards__name">Chicago</h3>
          <p class="contacts-cards__descr">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>

        <!-- Working days and times -->
        <dl class="working-hours">
          <dt class="working-hours__days">Monday - Friday</dt>
          <dd class="working-hours__time">
            <time datetime="Mo-Fr 06:00-22:00">06:00 AM - 10:00 PM</time>
          </dd>
          <dt class="working-hours__days">Saturday - Sunday</dt>
          <dd class="working-hours__time">
            <time datetime="Sa-Su 08:00-16:00">08:00 AM - 16:00 PM</time>
          </dd>
        </dl>

        <!-- Phone and email -->
        <ul class="contacts-list">
          <li>
            <a class="contacts-list__link" href="tel:+610383766284">
              +61(0) 383 766 284
            </a>
          </li>
          <li>
            <a class="contacts-list__link" href="mailto:noreply@envato.com">
              noreply@envato.com
            </a>
          </li>
        </ul>
      </li>
      <li class="contacts-cards__item">
        <span class="contacts-cards__label contacts-cards__label--green">
          Foodtruck
        </span>
        <div class="contacts-cards__top">
          <h3 class="contacts-cards__name">Los Angeles</h3>
          <p class="contacts-cards__descr">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>

        <!-- Working days and times -->
        <dl class="working-hours">
          <dt class="working-hours__days">Monday - Friday</dt>
          <dd class="working-hours__time">
            <time datetime="Mo-Fr 06:00-22:00">06:00 AM - 10:00 PM</time>
          </dd>
          <dt class="working-hours__days">Saturday - Sunday</dt>
          <dd class="working-hours__time">
            <time datetime="Sa-Su 08:00-16:00">08:00 AM - 16:00 PM</time>
          </dd>
        </dl>

        <!-- Phone and email -->
        <ul class="contacts-list">
          <li>
            <a class="contacts-list__link" href="tel:+610383766284">
              +61(0) 383 766 284
            </a>
          </li>
          <li>
            <a class="contacts-list__link" href="mailto:noreply@envato.com">
              noreply@envato.com
            </a>
          </li>
        </ul>
      </li>
      <li class="contacts-cards__item">
        <span class="contacts-cards__label contacts-cards__label--yellow">
          Cafe
        </span>
        <div class="contacts-cards__top">
          <h3 class="contacts-cards__name">New York</h3>
          <p class="contacts-cards__descr">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>

        <!-- Working days and times -->
        <dl class="working-hours">
          <dt class="working-hours__days">Monday - Friday</dt>
          <dd class="working-hours__time">
            <time datetime="Mo-Fr 06:00-22:00">06:00 AM - 10:00 PM</time>
          </dd>
          <dt class="working-hours__days">Saturday - Sunday</dt>
          <dd class="working-hours__time">
            <time datetime="Sa-Su 08:00-16:00">08:00 AM - 16:00 PM</time>
          </dd>
        </dl>

        <!-- Phone and email -->
        <ul class="contacts-list">
          <li>
            <a class="contacts-list__link" href="tel:+610383766284">
              +61(0) 383 766 284
            </a>
          </li>
          <li>
            <a class="contacts-list__link" href="mailto:noreply@envato.com">
              noreply@envato.com
            </a>
          </li>
        </ul>
      </li>
    </ul>

    <ul class="contacts-buttons">
      <li class="contacts-buttons__item">
        <button
          class="button button--primary button--with-icon contacts-buttons__button"
          type="button"
        >
          Our Locations
          <svg class="button__icon" width="5" height="8">
            <use href="./images/icons.svg#angle-right"></use>
          </svg>
        </button>
      </li>
      <li class="contacts-buttons__item">
        <button
          class="button button--secondary button--with-icon contacts-buttons__button"
          type="button"
        >
          Franchise
          <svg class="button__icon" width="5" height="8">
            <use href="./images/icons.svg#angle-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
