<section class="gallery">
  <h2 class="visually-hidden">Gallery</h2>

  <div class="gallery__collage">
    <div class="gallery__column">
      <!-- Green ice cream on a stick -->
      <picture class="gallery__small-pic">
        <source
          srcset="./images/gallery/1/1.jpg 1x, ./images/gallery/1/1@2x.jpg 2x"
          media="(min-width: 1110px)"
        />
        <source
          srcset="
            ./images/gallery/1/1-tab.jpg    1x,
            ./images/gallery/1/1-tab@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/gallery/1/1-mob.jpg    1x,
            ./images/gallery/1/1-mob@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />

        <img
          src="./images/gallery/1/1-mob.jpg"
          alt="Green ice cream on a stick"
          loading="lazy"
        />
      </picture>
    </div>

    <div class="gallery__column">
      <!-- Pink ice cream cone in hand -->
      <picture class="gallery__small-pic">
        <source
          srcset="./images/gallery/2/2.jpg 1x, ./images/gallery/2/2@2x.jpg 2x"
          media="(min-width: 1110px)"
        />
        <source
          srcset="
            ./images/gallery/2/2-tab.jpg    1x,
            ./images/gallery/2/2-tab@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/gallery/2/2-mob.jpg    1x,
            ./images/gallery/2/2-mob@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />

        <img
          src="./images/gallery/2/2-mob.jpg"
          alt="Pink ice cream cone in hand"
          loading="lazy"
        />
      </picture>

      <!-- Pink ice cream with raspberries on a stick -->
      <picture class="gallery__small-pic">
        <source
          srcset="./images/gallery/3/3.jpg 1x, ./images/gallery/3/3@2x.jpg 2x"
          media="(min-width: 1110px)"
        />
        <source
          srcset="
            ./images/gallery/3/3-tab.jpg    1x,
            ./images/gallery/3/3-tab@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/gallery/3/3-mob.jpg    1x,
            ./images/gallery/3/3-mob@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />

        <img
          src="./images/gallery/3/3-mob.jpg"
          alt="Pink ice cream with raspberries on a stick"
          loading="lazy"
        />
      </picture>
    </div>

    <div class="gallery__column">
      <!-- Girl eating white ice cream cone -->
      <picture class="gallery__small-pic">
        <source
          srcset="./images/gallery/5/5.jpg 1x, ./images/gallery/5/5@2x.jpg 2x"
          media="(min-width: 1110px)"
        />
        <source
          srcset="
            ./images/gallery/5/5-tab.jpg    1x,
            ./images/gallery/5/5-tab@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/gallery/5/5-mob.jpg    1x,
            ./images/gallery/5/5-mob@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />

        <img
          src="./images/gallery/5/5-mob.jpg"
          alt="Girl eating white ice cream cone"
          loading="lazy"
        />
      </picture>

      <!-- Several ice cream cones -->
      <picture class="gallery__large-pic">
        <source
          srcset="./images/gallery/4/4.jpg 1x, ./images/gallery/4/4@2x.jpg 2x"
          media="(min-width: 1110px)"
        />
        <source
          srcset="
            ./images/gallery/4/4-tab.jpg    1x,
            ./images/gallery/4/4-tab@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/gallery/4/4-mob.jpg    1x,
            ./images/gallery/4/4-mob@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />

        <img
          src="./images/gallery/4/4-mob.jpg"
          alt="Several ice cream cones"
          loading="lazy"
        />
      </picture>
    </div>

    <div class="gallery__column">
      <!-- White ice cream with berries in a glass bowl -->
      <picture class="gallery__small-pic">
        <source
          srcset="./images/gallery/6/6.jpg 1x, ./images/gallery/6/6@2x.jpg 2x"
          media="(min-width: 1110px)"
        />
        <source
          srcset="
            ./images/gallery/6/6-tab.jpg    1x,
            ./images/gallery/6/6-tab@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/gallery/6/6-mob.jpg    1x,
            ./images/gallery/6/6-mob@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />

        <img
          src="./images/gallery/6/6-mob.jpg"
          alt="White ice cream with berries in a glass bowl"
          loading="lazy"
        />
      </picture>

      <!-- Red ice cream cone in hand -->
      <picture class="gallery__small-pic">
        <source
          srcset="./images/gallery/7/7.jpg 1x, ./images/gallery/7/7@2x.jpg 2x"
          media="(min-width: 1110px)"
        />
        <source
          srcset="
            ./images/gallery/7/7-tab.jpg    1x,
            ./images/gallery/7/7-tab@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/gallery/7/7-mob.jpg    1x,
            ./images/gallery/7/7-mob@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />

        <img
          src="./images/gallery/7/7-mob.jpg"
          alt="Red ice cream cone in hand"
          loading="lazy"
        />
      </picture>
    </div>

    <div class="gallery__column">
      <!-- Dog licking ice cream cone -->
      <picture class="gallery__small-pic">
        <source
          srcset="./images/gallery/8/8.jpg 1x, ./images/gallery/8/8@2x.jpg 2x"
          media="(min-width: 1110px)"
        />
        <source
          srcset="
            ./images/gallery/8/8-tab.jpg    1x,
            ./images/gallery/8/8-tab@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/gallery/8/8-mob.jpg    1x,
            ./images/gallery/8/8-mob@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />

        <img
          src="./images/gallery/8/8-mob.jpg"
          alt="Dog licking ice cream cone"
          loading="lazy"
        />
      </picture>

      <!-- Chocolate milkshake in hand -->
      <picture class="gallery__small-pic">
        <source
          srcset="./images/gallery/9/9.jpg 1x, ./images/gallery/9/9@2x.jpg 2x"
          media="(min-width: 1110px)"
        />
        <source
          srcset="
            ./images/gallery/9/9-tab.jpg    1x,
            ./images/gallery/9/9-tab@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/gallery/9/9-mob.jpg    1x,
            ./images/gallery/9/9-mob@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />

        <img
          src="./images/gallery/9/9-mob.jpg"
          alt="Chocolate milkshake in hand"
          loading="lazy"
        />
      </picture>
    </div>

    <div class="gallery__column">
      <!-- White ice cream with berries on a donut -->
      <picture class="gallery__small-pic">
        <source
          srcset="
            ./images/gallery/10/10.jpg    1x,
            ./images/gallery/10/10@2x.jpg 2x
          "
          media="(min-width: 1110px)"
        />
        <source
          srcset="
            ./images/gallery/10/10-tab.jpg    1x,
            ./images/gallery/10/10-tab@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/gallery/10/10-mob.jpg    1x,
            ./images/gallery/10/10-mob@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />

        <img
          src="./images/gallery/10/10-mob.jpg"
          alt="White ice cream with berries on a donut"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
