<section>
  <h1>Ice cream made with <span>passion</span></h1>
  <ul>
    <li><a href="">Products</a></li>
    <li><a href="">How it’s made?</a></li>
  </ul>

  <ul>
    <li>
      <span>16</span>
      <p>cafes</p>
    </li>
    <li>
      <span>23</span>
      <p>food trucks</p>
    </li>
  </ul>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et
  </p>
  <a href="">
    <svg>
      <use href="./images/icons.svg#arrow-right"></use>
    </svg>
  </a>

  <!-- Rainbow ice cream -->
  <picture>
    <source
      srcset="
        ./images/ice-cream/ice-cream.webp    1x,
        ./images/ice-cream/ice-cream@2x.webp 2x
      "
      media="(min-width: 1110px)"
      type="image/webp"
    />
    <source
      srcset="
        ./images/ice-cream/ice-cream.png    1x,
        ./images/ice-cream/ice-cream@2x.png 2x
      "
      media="(min-width: 1110px)"
    />

    <source
      srcset="
        ./images/ice-cream/ice-cream-tab.webp    1x,
        ./images/ice-cream/ice-cream-tab@2x.webp 2x
      "
      media="(min-width: 768px)"
      type="image/webp"
    />
    <source
      srcset="
        ./images/ice-cream/ice-cream-tab.png    1x,
        ./images/ice-cream/ice-cream-tab@2x.png 2x
      "
      media="(min-width: 768px)"
    />

    <source
      srcset="
        ./images/ice-cream/ice-cream-mob.webp    1x,
        ./images/ice-cream/ice-cream-mob@2x.webp 2x
      "
      media="(max-width: 767px)"
      type="image/webp"
    />
    <source
      srcset="
        ./images/ice-cream/ice-cream-mob.png    1x,
        ./images/ice-cream/ice-cream-mob@2x.png 2x
      "
      media="(max-width: 767px)"
    />

    <img src="./images/ice-cream/ice-cream-tab.png" alt="Rainbow ice cream" />
  </picture>

  <!-- Glass jug of milk -->
  <picture>
    <source
      srcset="./images/milk/milk.webp 1x, ./images/milk/milk@2x.webp 2x"
      media="(min-width: 1110px)"
      type="image/webp"
    />
    <source
      srcset="./images/milk/milk.png 1x, ./images/milk/milk@2x.png 2x"
      media="(min-width: 1110px)"
    />

    <source
      srcset="./images/milk/milk-tab.webp 1x, ./images/milk/milk-tab@2x.webp 2x"
      media="(min-width: 768px)"
      type="image/webp"
    />
    <source
      srcset="./images/milk/milk-tab.png 1x, ./images/milk/milk-tab@2x.png 2x"
      media="(min-width: 768px)"
    />

    <img src="./images/milk/milk-tab.png" alt="Glass jug of milk" />
  </picture>

  <!-- Girl eating ice cream -->
  <picture>
    <source
      srcset="./images/girl/girl.webp 1x, ./images/girl/girl@2x.webp 2x"
      media="(min-width: 1110px)"
      type="image/webp"
    />
    <source
      srcset="./images/girl/girl.png 1x, ./images/girl/girl@2x.png 2x"
      media="(min-width: 1110px)"
    />

    <source
      srcset="./images/girl/girl-tab.webp 1x, ./images/girl/girl-tab@2x.webp 2x"
      media="(min-width: 768px)"
      type="image/webp"
    />
    <source
      srcset="./images/girl/girl-tab.png 1x, ./images/girl/girl-tab@2x.png 2x"
      media="(min-width: 768px)"
    />

    <img src="./images/girl/girl-tab.png" alt="Girl eating ice cream" />
  </picture>
</section>
