<header class="page-header">
  <div class="container page-header__container">
    <!-- Company logo -->
    <a class="logo">
      <img
        class="logo__icon"
        src="./images/logo.svg"
        width="50"
        height="50"
        alt="Company logo"
      />
      IceCream
    </a>

    <!-- Mobile menu -->
    <div class="mobile-menu" id="mobile-menu" data-menu>
      <!-- Mobile menu close button -->
      <button
        class="menu-button menu-button--close"
        type="button"
        aria-label="Close menu"
        data-menu-close
      >
        <svg width="14" height="14">
          <use href="./images/icons.svg#cross"></use>
        </svg>
      </button>

      <!-- Mobile menu purchase button -->
      <button
        class="button button--secondary button--with-icon mobile-menu__button"
        type="button"
      >
        Buy now
        <svg class="button__icon" width="8" height="10">
          <use href="./images/icons.svg#angle-right"></use>
        </svg>
      </button>

      <!-- Main navigation -->
      <nav>
        <!--Links to sections of the current page -->
        <ul class="site-nav">
          <li class="site-nav__item">
            <a class="site-nav__link" href="">Home</a>
          </li>
          <li class="site-nav__item">
            <a class="site-nav__link" href="">About us</a>
          </li>
          <li class="site-nav__item">
            <a class="site-nav__link" href="">How it’s made?</a>
          </li>
          <li class="site-nav__item">
            <a class="site-nav__link" href="">Our products</a>
          </li>
          <li class="site-nav__item">
            <a class="site-nav__link" href="">Contact</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="page-header__actions">
      <!-- Mobile menu open button -->
      <button
        class="menu-button menu-button--open"
        type="button"
        aria-label="Open menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
        data-menu-open
      >
        <svg width="20" height="12">
          <use href="./images/icons.svg#burger"></use>
        </svg>
      </button>

      <!-- Purchase button -->
      <button
        class="button button--secondary button--with-icon page-header__button"
        type="button"
      >
        Buy now
        <svg class="button__icon" width="8" height="10">
          <use href="./images/icons.svg#angle-right"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
