<footer>
  <p>Homemade ice cream made</p>
  <h2>With passion</h2>

  <!-- Social networks -->
  <ul>
    <li>
      <a
        href=""
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Link to GitHub"
      >
        <svg>
          <use href="./images/icons.svg#github"></use>
        </svg>
      </a>
    </li>
    <li>
      <a
        href=""
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Link to Telegram"
      >
        <svg>
          <use href="./images/icons.svg#telegram"></use>
        </svg>
      </a>
    </li>
    <li>
      <a
        href=""
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Link to Facebook"
      >
        <svg>
          <use href="./images/icons.svg#facebook"></use>
        </svg>
      </a>
    </li>
  </ul>

  <b>Feel free to contact</b>
  <a href="tel:+610383766284">+61 (0) 383 766 284</a>

  <p>&copy; 2019 - IceCream. All Rights Reserved.</p>
</footer>
