<footer class="page-footer">
  <div class="container page-footer__container">
    <div class="section-title page-footer__section-title">
      <p class="section-title__pretitle">Homemade ice cream made</p>
      <h2 class="section-title__text">With passion</h2>
    </div>

    <div class="page-footer__content">
      <!-- Social networks -->
      <ul class="social-networks">
        <li class="social-networks__item">
          <a
            class="social-networks__link"
            href=""
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Link to GitHub"
          >
            <svg class="social-networks__icon">
              <use href="./images/icons.svg#github"></use>
            </svg>
          </a>
        </li>
        <li class="social-networks__item">
          <a
            class="social-networks__link"
            href=""
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Link to Telegram"
          >
            <svg class="social-networks__icon">
              <use href="./images/icons.svg#telegram"></use>
            </svg>
          </a>
        </li>
        <li class="social-networks__item">
          <a
            class="social-networks__link"
            href=""
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Link to Facebook"
          >
            <svg class="social-networks__icon">
              <use href="./images/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>

      <div class="contact-us">
        <b class="contact-us__appeal">Feel free to contact</b>
        <a class="contact-us__tel" href="tel:+610383766284">
          +61 (0) 383 766 284
        </a>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="copyright">
    <p class="copyright__text">&copy; 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
