<section>
  <h2 class="visually-hidden">Customer testimonials</h2>

  <ul>
    <li>
      <!-- Photo of the first customer -->
      <picture>
        <source
          srcset="
            ./images/testimonials/testimonial-1.webp    1x,
            ./images/testimonials/testimonial-1@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./images/testimonials/testimonial-1.png    1x,
            ./images/testimonials/testimonial-1@2x.png 2x
          "
        />

        <img
          src="./images/testimonials/testimonial-1.png"
          width="85"
          height="85"
          alt="Photo of the first customer"
          loading="lazy"
        />
      </picture>

      <blockquote>
        <p>
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
      </blockquote>
      <p>Emily, Los Angeles</p>
    </li>
    <li>
      <!-- Photo of the second customer -->
      <picture>
        <source
          srcset="
            ./images/testimonials/testimonial-2.webp    1x,
            ./images/testimonials/testimonial-2@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./images/testimonials/testimonial-2.png    1x,
            ./images/testimonials/testimonial-2@2x.png 2x
          "
        />

        <img
          src="./images/testimonials/testimonial-2.png"
          width="85"
          height="85"
          alt="Photo of the second customer"
          loading="lazy"
        />
      </picture>

      <blockquote>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ipsum
          provident incidunt quas corrupti dolorum quae ab dolorem facere earum
          necessitatibus commodi.
        </p>
      </blockquote>
      <p>Ann, New York</p>
    </li>
    <li>
      <!-- Photo of the third customer -->
      <picture>
        <source
          srcset="
            ./images/testimonials/testimonial-3.webp    1x,
            ./images/testimonials/testimonial-3@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./images/testimonials/testimonial-3.png    1x,
            ./images/testimonials/testimonial-3@2x.png 2x
          "
        />

        <img
          src="./images/testimonials/testimonial-3.png"
          width="85"
          height="85"
          alt="Photo of the third customer"
          loading="lazy"
        />
      </picture>

      <blockquote>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore modi
          facere possimus alias, dolores quasi vero nesciunt voluptate nemo
          veniam ex odit voluptas eaque!
        </p>
      </blockquote>
      <p>Lily, Chicago</p>
    </li>
  </ul>
</section>
