.contacts-cards {
  @extend %list;

  margin-bottom: 54px;
  font-weight: 500;

  @include tablet {
    display: flex;
    margin-bottom: 80px;
  }

  @include desktop {
    margin-bottom: 86px;
  }
}

.contacts-cards__item {
  padding: 43px 20px;

  border-radius: 24px;
  box-shadow: $box-shadow-color;
  background-color: $primary-white-color;

  @include tablet {
    flex-basis: calc((100% - 2 * 20px) / 3);
    padding: 50px 30px;
  }

  @include desktop {
    padding: 50px 43px 63px;
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 20px;
    }

    @include tablet {
      margin-right: 20px;
    }

    @include desktop {
      margin-right: 30px;
    }
  }
}

.contacts-cards__label {
  display: inline-block;

  line-height: 1.34;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: $primary-white-color;

  border-radius: 4px;

  @include tablet {
    font-size: 16px;
    line-height: 1.75;
  }

  &--yellow {
    width: 80px;
    background-color: $light-yellow-color;

    @include tablet {
      width: 73px;
    }
  }

  &--green {
    width: 130px;
    background-color: $light-green-color;

    @include tablet {
      width: 138px;
    }
  }
}

.contacts-cards__top {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid $border-color;

  @include tablet {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @include desktop {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts-cards__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: $primary-black-color;

  @include tablet {
    margin-bottom: 14px;
    font-size: 14px;
  }

  @include desktop {
    margin-bottom: 10px;
    font-size: 16px;
  }
}

.contacts-cards__descr {
  line-height: 1.5;

  @include tablet {
    font-size: 14px;
    line-height: 1.66;
  }

  @include desktop {
    font-size: 16px;
    line-height: 1.83;
    letter-spacing: 0.04em;
  }
}
