.contacts-list {
  @extend %list;
  padding-top: 25px;

  @include tablet {
    padding-top: 30px;
  }

  @include desktop {
    padding-top: 32px;
  }
}

.contacts-list__link {
  font-weight: 500;
  line-height: 1.5;
  color: inherit;

  @include tablet {
    font-size: 14px;
    line-height: 1.83;
  }

  @include desktop {
    font-size: 16px;
  }
}
