.hero-nav {
  @extend %list;
  display: flex;
}

.hero-nav__item {
  & + & {
    margin-left: 8px;

    @include desktop {
      margin-left: 15px;
    }
  }
}

.hero-nav__button {
  min-width: 60px;
  padding: 7px 14px;

  font-size: 8px;
  font-weight: 400;
  border-radius: 20px;

  @include desktop {
    min-width: 100px;
    padding: 11px 21px;

    font-size: 14px;
    line-height: 1.29;
  }
}
